<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
      <li class="nav-item"><a class="nav-link" [routerLink]="'quem-somos'">Inicio</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="'nossa-visao'">Nossa Visao</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="'contato'">Contato</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
